extends layout

block content
  h1 Suggestion
  a(href="/profiles") Go back to Profiles
  p
  each suggestion in suggestions
    div(class="suggestionContent")
      div(class="leftContent")
        img(src=suggestion.picture)
      div(class="middleContent")
        p= suggestion.name
        a(href=suggestion.cheese)= suggestion.cheese
    br
